<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parte 1</title>
</head>
<body>


    <header class="row">
      <div class="header col-xs-12"><h1>Header</h1></div>
    </header>

    <div class="row start-xs start-sm end-md">
      <div class="menu col-xs-11 col-sm-11 col-md-11 col-lg-8"><h1>Menu</h1></div>
    </div>

    <div class="row start-xs start-sm end-md end-lg">
      <div class="texto col-xs-11"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis pariatur cum minima nam delectus, tempore officiis vero earum a omnis labore soluta deleniti accusantium optio non fuga repudiandae ab eius?</p></div>
    </div>

    <div class="row start-xs start-sm end-md end-lg">
      <div class="banner col-xs-4 col-sm-3 col-md-4 col-lg-4"><h1>banner</h1></div>
      <div class="banner col-xs-4 col-sm-3 col-md-4 col-lg-4"><h1>banner 1</h1></div>
      <div class="banner col-xs-4 col-sm-3 col-md-4 col-lg-4"><h1>banner 2</h1></div>

      <div class="banner col-xs-6 col-sm-3 col-md-6 col-lg-4"><h1>banner 3</h1></div>
      <div class="banner col-xs-6 col-sm-12 col-md-6 col-lg-4"><h1>banner 4</h1></div>
    </div>


    <div class="row center-xs center-sm end-md start-lg">
      <div class="banner col-xs-8 col-sm-6 col-md-6 col-lg-4"><h1>banner 5</h1></div>
    </div>

    <footer class="row">
      <div class="footer col-xs-12"><h1>Footer</h1></div>
    </footer>


</body>
</html>
